.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: white;
}
.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}
.reveal .roll span:after {
  color: #fff;
  background: #068ee9;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
}
.reveal h1 {
  font-size: 2.5em;
}
.reveal h2 {
  font-size: 1.6em;
}
.reveal h3 {
  font-size: 1.3em;
}
.reveal h4 {
  font-size: 1em;
}
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}
.reveal strong,
.reveal b {
  font-weight: bold;
}
.reveal em {
  font-style: italic;
}
.reveal ul,
.reveal ol,
.reveal dl {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}
.reveal ol {
  list-style-type: decimal;
}
.reveal ul {
  list-style-type: disc;
}
.reveal ul ul {
  list-style-type: square;
}
.reveal ul ul ul {
  list-style-type: circle;
}
.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}
.reveal dt {
  font-weight: bold;
}
.reveal dd {
  margin-left: 40px;
}
.reveal q,
.reveal blockquote {
  quotes: none;
}
.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}
.reveal q {
  font-style: italic;
}
.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.reveal code {
  font-family: monospace;
}
.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC;
}
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none;
}
.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.reveal table th {
  font-weight: bold;
}
.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}
.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}
.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}
.reveal table tr:last-child td {
  border-bottom: none;
}
.reveal sup {
  vertical-align: super;
}
.reveal sub {
  vertical-align: sub;
}
.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}
.reveal small * {
  vertical-align: top;
}
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}
.reveal .progress span {
  background: #218214;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
  background-image: url("http://rawgit.com/csyntax/Common/master/Gears/gears-green.svg");
  color: #fff;
  background-position: 50% 40%;
  background-repeat: no-repeat;
}
#loading .loading-container {
  position: absolute;
  top: 35%;
}
#loading .text {
  font-size: 1em;
  line-height: 7em;
  text-align: center;
}
#loading div {
  height: 100%;
  width: 100%;
}
@media (max-width: 640px) {
  #loading .loading-container {
    top: 35%;
  }
  #loading .loading-container .text {
    font-size: 0.8em;
  }
}
::selection {
  background: rgba(187, 255, 183, 0.5);
  color: #218214;
}
.reveal {
  background: #000;
}
.reveal .controls {
  bottom: 50px;
}
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #218214;
}
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #218214;
}
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #218214;
}
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #218214;
}
.reveal .slide-number {
  bottom: 55px;
  color: #218214;
}
.reveal .slides {
  height: 100%;
  font-size: 47px;
}
.reveal .slides sup {
  font-size: 0.8em;
}
.reveal .slides a {
  text-decoration: underline;
  color: #346d2a;
}
.reveal .slides strong {
  font-weight: normal;
  color: #346d2a;
}
.reveal .slides section {
  padding: 15px;
  color: white;
  height: 100%;
  background-image: url("http://rawgit.com/csyntax/Common/master/Logos/logo-green.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100px 100px;
  text-align: left;
  text-shadow: 3px 3px 10px black;
}
.reveal .slides section li li {
  font-size: 0.9em;
}
.reveal .slides section code {
  color: #daedf2;
  text-shadow: 3px 3px 3px #000;
}
.reveal .slides section pre code {
  text-shadow: none;
}
.reveal .slides section section {
  background-image: none;
}
.reveal .slides section h1,
.reveal .slides section h2 {
  color: #218214;
  width: 85%;
  margin-left: 15%;
  text-transform: none;
  text-align: right;
}
.reveal .slides section h1 {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.reveal .slides section h2 {
  color: white;
  font-size: 1.3em;
  margin-top: 10px;
}
.reveal .slides blockquote {
  font-weight: normal;
  font-style: italics;
  border: 1px solid #acffa8;
  border-radius: 5px;
  width: 85%;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
}
.reveal .slides blockquote p {
  margin: 0 auto;
}
.reveal .slides .hljs {
  background: rgba(250, 250, 250, 0.85);
  border-radius: 15px;
  padding: 15px;
  color: #333;
  max-height: 100%;
}
.reveal .slides .slide-image {
  border: none;
  background: none;
  position: absolute;
  box-shadow: none;
}
.reveal .slides section.slide-title {
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.reveal .slides section.slide-title h1 {
  width: 100%;
  margin-top: 100px;
  margin-left: 0;
  font-size: 1.4em;
}
.reveal .slides section.slide-title h2 {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 1.1em;
  width: 100%;
}
.reveal .slides .slide-section {
  text-align: center;
}
.reveal .slides .slide-section h1,
.reveal .slides .slide-section h2 {
  width: 100%;
  text-align: center;
  margin-left: 0;
}
.reveal .slides .slide-section h1 {
  margin-top: 20%;
  font-size: 1.7em;
}
.reveal .slides .slide-section h2 {
  margin-top: 25px;
  font-size: 1.1em;
}
.reveal .slides .signature {
  float: right;
  position: fixed;
  bottom: 70px;
  text-align: left;
}
.reveal .slides .signature .author-name {
  color: #218214;
  font-size: 1.05em;
  font-weight: bold;
  line-height: 21px;
}
.reveal .slides .signature .author-job-title {
  color: white;
  font-size: 0.9em;
  line-height: 25px;
  padding-top: 10px;
  margin-bottom: 0;
}
.reveal .slides .signature .author-website {
  color: #218214;
  font-size: 0.85em;
  text-decoration: underline;
  line-height: 10px;
}
