body {
	background: rgb(30, 30, 29) url("/images/background.png") repeat-y center top;
    background-attachment: fixed;
	background-size: 100%;
	color: white;
	font-family: Arial, sans-serif;
}

.reveal ol, 
.reveal dl, 
.reveal ul {
    display: inline-block;
    text-align: justify;
    margin: 0;
}

#slides-container {
	width: 1000px !important;
    height: 700px important;
}

@media screen and (min-width: 480px){
	body {
		background-size: 55%;
	}
}

.reveal .slides > section {
	padding: 0;
}

.reveal .slides {
	margin: 0;
    width: 1000px;
    height: 700px;
}

.reveal h1 {
    margin: 0;
    color: white;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.9) url(../images/loading-gears.gif);
    color: white;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

#loading .loading-container {
    position: absolute;
    top: 48%;
}
#loading div {
    height: 100%;
    width: 100%;
}

.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

#loading .text {
    font-size: 1em;
    line-height: 7em;
    text-align: center;
}

.reveal .social-widget.left {
    left: 0;
    border-radius: 0 5px 0 0;
}

.reveal .social-widget {
    position: absolute;
    bottom: 0;
    padding-left: 15px;
    padding-bottom: 18px;
    padding-right: 15px;
    background-color: rgba(200,200,200,0.4);
    opacity: 0.3;
    z-index: 100;
    text-align: center;
    border-radius: 5px 0 0 0;
}

.reveal .social-widget strong {
    font-size: 0.5em;
    margin-bottom: 5px;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.hidden {
	display: none;
}

@media screen and (max-width: 500px) {
	.reveal .social-widget {
		display: none;
	}
}
