.controls {
	bottom: 50px;

    div.navigate-left,
    div.navigate-left.enabled {
        border-right-color: rgb(33, 130, 20);
    }

    div.navigate-up,
    div.navigate-up.enabled {
        border-bottom-color: rgb(33, 130, 20);
    }

    div.navigate-right,
    div.navigate-right.enabled {
        border-left-color: rgb(33, 130, 20);
    }

    div.navigate-down,
    div.navigate-down.enabled {
        border-top-color: rgb(33, 130, 20);
    }
}

.slide-number {
	bottom: 55px;
    color: rgb(33, 130, 20);
}
